<!DOCTYPE html>
<html>
<head>
    <title class="head">{% block title %} {% endblock %} - Geek NJOB</title>

    {% block head %}
        <meta charset="utf-8" class="head">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" class="head" >
        <meta name="viewport" content="width=device-width, initial-scale=1" class="head">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" class="head">

        {# Jquery #}
        <script rel="script" src="{{ asset('assets/jquery/jquery-3.2.1.js') }}" class="head"></script>
    {% endblock %}

    {% block stylesheets %}
        {# CSS Bootstrap #}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" class="head" >
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous" class="head" >
        {# CSS #}
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}" class="head" >
    {% endblock %}
</head>
<body>

{% block header %}

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}
{% block javascripts %}
    {# Js Bootstrap #}
    <script src="{{ asset('assets/bootstrap/js/bootstrap.js') }}"></script>
    {# Cookies #}
    <script src="{{ asset('assets/js/home/cookiechoices.js') }}"></script>
    <script src="{{ asset('assets/js/home/cookies.js') }}"></script>
{% endblock %}

</body>
</html>