<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %} - Projet IMIE</title>

    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">

        {# Jquery #}
        <script rel="script" src="{{ asset('assets/jquery/jquery-3.2.1.js') }}"></script>
        {#<script rel="script" src="{{ asset('assets/jquery/jquery-3.2.1.min.js') }}"></script>#}
    {% endblock %}

    {% block stylesheets %}
        {# CSS Bootstrap #}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        {# CSS #}
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    {% endblock %}
</head>
<body>


{% block header %}

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
    {# Js Bootstrap #}
    <script src="{{ asset('assets/bootstrap/js/bootstrap.js') }}"></script>
    {# Chart.js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
{% endblock %}

</body>
