{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Gestion des couleurs' }}{% endblock %}

{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-suitcase"></i>Gestion couleurs</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gestion des couleurs</h2>
                    <hr/>
                </div>
                <div class="col-md-6">
                    <div id="responseMessageContent" class="row hidden">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                        data-type="create">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                </button>
                                <p id="responseMessage"></p>
                            </div>
                        </div>
                    </div>
                    {% if (primary is not null and text is not null ) and (primary.value is not null and text.value is not null) %}
                        <form class="form-actions" action="">
                            <div class="form-group">
                                <label for="{{ primary.label }}">{{ primary.label }}</label>
                                <input data-id="{{ primary.id }}" value="{{ primary.value }}" id="color-primary"
                                       class="form-control color" type="color" title="{{ primary.label }}">
                            </div>
                            <button class="btn btn-primary colorSubmit" data-inputid="color-primary">Sauvegarder</button>

                            <hr>

                            <div class="form-group">
                                <label for="{{ secondary.label }}">{{ secondary.label }}</label>
                                <input data-id="{{ secondary.id }}" value="{{ secondary.value }}" id="color-secondary"
                                       class="form-control color" type="color" title="{{ secondary.label }}">
                            </div>
                            <button class="btn btn-primary colorSubmit" data-inputid="color-secondary">Sauvegarder</button>

                            <hr>

                            <div class="form-group">
                                <label for="{{ text.label }}">{{ text.label }}</label>
                                <input data-id="{{ text.id }}" value="{{ text.value }}" id="color-text"
                                       class="form-control color" type="color" title="{{ text.label }}">
                            </div>
                            <button class="btn btn-primary colorSubmit" data-inputid="color-text">Sauvegarder</button>
                        </form>
                    {% else %}
                        <p class="error_ex">Erreur lors du chargement de la base de données</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/admin/changeColor.js') }}"></script>
{% endblock %}