{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Accueil' }}{% endblock %}

{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-home"></i>Accueil</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Tableau de bord</h1>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="registedYear">Choix de l'année:</label>
                    <select name="registedYear" id="registedYear" class="form-control"
                            style="width: 20%; margin-bottom:5px;">
                        {% for registeredYear in registeredYears %}
                            <option value="{{ registeredYear.year }}">{{ registeredYear.year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="panel-title">Quizz finis par rapport à ceux non finis</h3>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Cette zone permet d'avoir un differentiel entre les personnes qui ont commencé le quizz et ceux qui l'ont terminé. Concrètement c'est un révélateur de l'interêt des utilisateurs pour le quizz."
                                    >
                                        <i class="fa fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="getNbTestChart" width="200" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="panel-title">Question par type</h3>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Cette zone permet de savoir le nombre de questions qui sont susceptibles d'être utilisées dans le quizz et celles qui sont invalides (exemple : question n'ayant qu'une seule réponse)."
                                    >
                                        <i class="fa fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <table class="table table-condensed text-center">
                                    <tr>
                                        <td>Question valide</td>
                                        <td>Question non valide</td>
                                    </tr>
                                    <tr>
                                        <td id="valid"></td>
                                        <td id="nonValid"></td>
                                    </tr>
                                </table>
                            </div>
                            <canvas id="questionByType" width="200" height="138"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="panel-title">Résultat des métiers</h3>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Cette zone permet de montrer les métiers les plus retournés en résultat du quizz."
                                    >
                                        <i class="fa fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" id="jobPanelBody">
                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn"
                                        data-target="#confirmResetJob"
                                        data-toggle="modal">Remettre à zero la statistique</button>
                            </div>
                            <canvas id="jobChart" width="200" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="panel-title">Navigateurs utilisés</h3>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Cette zone permet de montrer les navigateurs utilisés par les visiteurs."
                                    >
                                        <i class="fa fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="navChart" width="200" height="150"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="panel-title">Visiteur par pays</h3>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Cette zone permet de savoir l'origine géographique des utilisateurs."
                                    >
                                        <i class="fa fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="visitorByCountry" width="200" height="150"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="panel-title">Résultat partagés</h3>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Cette zone permet de savoir la proportion des utilisateurs qui ont partagé leurs résultats après avoir terminé le quizz."
                                    >
                                        <i class="fa fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="sharedChart" width="200" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="panel-title">Visites utilisateurs</h3>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <button class="btn pull-right"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Cette zone permet de savoir le nombre de visiteurs total du site."
                                    >
                                        <i class="fa fa-info"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="userChart" width="100" height="20"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div id="confirmResetJob" class="modal fade container" tabindex="-1" role="dialog">
        <div class="modal-dialog-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation de remise à zero</h4>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">Etes vous sûr de vouloir remettre cette statistique à zero ? Cette action est irréversible, elle n'est à utiliser qu'en cas de changement majeur du quizz</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a id="confirmReset" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Oui</a>
                </div>
            </div>
        </div>
    </div>


    {% for key, question in questions %}
        <input type="hidden" class="questionDataHolder" data-type="{{ key }}" data-valid="{{ question['valid'] }}"
               data-nonvalid="{{ question['nonValid'] }}">
    {% endfor %}

    {% for visitorByCountry in visitorsByCountry %}
        <input type="hidden" class="visitorCountryDataHolder" data-country="{{ visitorByCountry['country'] }}"
               data-value="{{ visitorByCountry[1] }}">
    {% endfor %}

    {% if visitorWhoSharedAndThoseWhoDont is not null %}
        {% for key, visitor in visitorWhoSharedAndThoseWhoDont %}
            <input type="hidden" id="visitorWho{{ key }}" data-number="{{ visitor }}">
        {% endfor %}
    {% endif %}
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/admin/chartAdmin.js') }}"></script>
        <script src="{{ asset('assets/js/home/Chart.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/home/Chart.min.js') }}"></script>
    {% endblock %}
