{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Accueil' }}{% endblock %}

{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-home"></i>Accueil</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Tableau de bord</h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Visites utilisateurs</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="userChart" width="500" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Question par type</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <p id="valid"></p>
                                <p id="nonValid"></p>
                            </div>
                            <canvas id="tempChart" width="400" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">NA</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">NA</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for key, question in questions %}
        <input type="hidden" class="dataHolder" data-type="{{ key }}" data-valid="{{ question['valid'] }}" data-nonvalid="{{ question['nonValid'] }}">
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/admin/chartAdmin.js') }}"></script>
{% endblock %}




