{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Accueil' }}{% endblock %}

{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-home"></i>Accueil</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Tableau de bord</h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3 class="panel-title">Visites utilisateurs pour l'année:</h3>
                                </div>
                                <div class="col-md-6">
                                    <select name="registedYear" id="registedYear" class="form-control" style="width: 20%">
                                        {% for registeredYear in registeredYears %}
                                            <option value="{{ registeredYear.year }}">{{ registeredYear.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="userChart" width="100" height="20"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Question par type</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <p id="valid"></p>
                                <p id="nonValid"></p>
                            </div>
                            <canvas id="questionByType" width="200" height="138"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nombre de visiteur par pays</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="visitorByCountry" width="200" height="150"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Navigateurs utilisés</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="navChart" width="200" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for key, question in questions %}
        <input type="hidden" class="questionDataHolder" data-type="{{ key }}" data-valid="{{ question['valid'] }}" data-nonvalid="{{ question['nonValid'] }}">
    {% endfor %}

    {% for visitorByCountry in visitorsByCountry %}
        <input type="hidden" class="visitorCountryDataHolder" data-country="{{ visitorByCountry['country'] }}" data-value="{{ visitorByCountry[1] }}">
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/admin/chartAdmin.js') }}"></script>
{% endblock %}




