{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Account' }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h3>Créer un job</h3>
    {{ form_start(formJob) }}
    {{ form_widget(formJob) }}
    {{ form_end(formJob) }}
    <h2>Listes des jobs:</h2>
    <p class="SaveModificationMessage"></p>

    {% include "AdminBundle:layout:accordion.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/JobPersonnalityProcess.js') }}"></script>
{% endblock javascripts %}

{% block footer %}
    {{ parent() }}
{% endblock %}