{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Jobs' }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% include "AdminBundle:layout:header.html.twig" %}
{% endblock %}

{% block content %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div class="content-page">
            <h3>Créer un job</h3>
            {{ form_start(formJob) }}
            {{ form_widget(formJob) }}
            {{ form_end(formJob) }}
            <h2>Listes des jobs:</h2>
            <p class="SaveModificationMessage"></p>

            {% include "AdminBundle:layout:accordion.html.twig" %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/JobPersonnalityProcess.js') }}"></script>
{% endblock javascripts %}

{% block footer %}
    {{ parent() }}
{% endblock %}