{% extends 'UserBundle::base.html.twig' %}

{% block title %}{{ 'Account' }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h2>Page de gestion des utilisateurs</h2>
    <table border="2" cellpading="5px" cellspacing="5px">
        <th>Pseudonyme</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.roles|length > 1 %} Administrateur {% else %} Utilisateur {% endif %}</td>
                <td>
                    {% if user.roles|length > 1 %}
                        <form action="{{ path('admin_homepage') }}" method="post">
                            <input type="hidden" name="userId" value="{{ user.id }}">
                            <input type="submit" value="Downgrade user" name="down">
                        </form>
                    {% else %}
                        <form action="{{ path('admin_homepage') }}" method="post">
                            <input type="hidden" name="userId" value="{{ user.id }}">
                            <input style="width: 100%" type="submit" value="Upgrade user" name="up">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}