{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Mentions Légales' }}{% endblock %}


{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-suitcase"></i>Mentions légales</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Mentions Légales</h2>
                    <hr />
                </div>
                <div class="col-md-6">
                    {{ form_start(form, {'method': 'POST'}) }}
                    {{ form_row(form.value, {'label': 'Vous pouvez modifier les mentions légales ici', 'attr': {'class': 'paramContent'} }) }}
                    {{ form_row(form.save, {'label': 'Sauvegarder', 'attr': {'class': 'btn btn-primary param','data-id': parameter.id, 'data-label': parameter.label}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}