{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Mentions Légales' }}{% endblock %}





{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="icon icon-cogs"></i>Paramètres</a>
            </div>
        </div>
        <form class="form-group" action="" method="post">

            <label class="hidden">{{ parameter.value }}id{{ parameter.id }}</label>
            <label class="param-title"
                   data-label="{{ parameter.label }}">{{ parameter.label }}</label>
            <textarea title="" class="param form-control" name="{{ parameter.value }}"
                      data-id="{{ parameter.id }}">{{ parameter.value }}</textarea>

        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/parametersProcess.js') }}"></script>
{% endblock %}