{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Gestion du site' }}{% endblock %}





{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="icon icon-cogs"></i>Gestion du site</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gestion du site</h2>
                    <hr/>
                </div>
                <div class="col-md-12">
                    <form class="form-group" action="" method="post">

                        {% for parameter in parameters %}
                            <label class="hidden">{{ parameter.label }}id{{ parameter.id }}</label>
                            <div class="form-group">
                                <label class="param-title"
                                       data-label="{{ parameter.label }}">{{ parameter.label }}</label>
                                <input title="" type="text" class="param form-control" name="{{ parameter.label }}Value"
                                       value="{{ parameter.value }}" data-id="{{ parameter.id }}">
                            </div>
                        {% endfor %}

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/parametersProcess.js') }}"></script>
{% endblock %}