{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Gestion des paramètres' }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/croppie.min.css') }}" />
{% endblock %}

{% block _AdminBundle %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-cogs"></i>Gestion paramètres</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gestion des paramètres</h2>
                    <hr/>
                    <div id="responseMessageContent" class="row hidden">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                </button>
                                <p id="responseMessage"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="form-group" action="" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                {% for parameter in parameters %}
                                    <div class="form-group">
                                        <label class="param-title"
                                               id="parameterLabel{{ parameter.id }}">{{ parameter.label }}</label>
                                        <input title="" type="text" class="form-control param"
                                               id="parameterValue{{ parameter.id }}"
                                               name="{{ parameter.label }}Value"
                                               value="{{ parameter.value }}"
                                               data-id="{{ parameter.id }}"
                                               data-label="{{ parameter.label }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/admin/croppie.min.js') }}"></script>
    <script src="{{ asset('assets/js/admin/parametersProcess.min.js') }}"></script>
{% endblock %}