{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Profils métier' }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% include "AdminBundle:layout:header.html.twig" %}
{% endblock %}

{% block content %}
    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="icon-plus-sign-alt"></i>Création des profils</a>
            </div>
        </div>
        <div class="content-page">
            <h2>Créer un type de profil</h2>
            {{ form_start(formPT) }}
            {{ form_widget(formPT, {'attr': {'class':'form-control'}}) }}
            {{ form_end(formPT) }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}