{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'Gestion des questions' }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/questionAdmin.css') }}">
    {{ parent() }}
{% endblock %}

{% block header %}
    {% include "AdminBundle:layout:header.html.twig" %}
{% endblock %}

{% block content %}
    {% include "AdminBundle:layout:sidebar.html.twig" %}
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-comment"></i>Gestion des questions</a>
            </div>
        </div>
        <div class="content-page">
            {% include "AdminBundle:layout:questionContent.html.twig" %}
        </div>
    </div>
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/admin/ResponsesFromQuestionProcess.js') }}"></script>
{% endblock %}
