{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ 'AdminAccount' }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% include "AdminBundle:layout:header.html.twig" %}
{% endblock %}

{% block content %}
    {% include "AdminBundle:layout:sidebar.html.twig" %}
    <div id="content">
        <div class="content-page">
            {% include "AdminBundle:layout:accordion.html.twig" %}
        </div>
    </div>
{% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/ResponsesFromQuestionProcess.js') }}"></script>
{% endblock %}
