{% if responses is not empty %}
    <div class="table-responsive" xmlns="http://www.w3.org/1999/html">
        <table class="table">
            <th>Label</th>
            <th>Name</th>
            <th>Tempérament</th>
            <th>Tempérament opposés</th>
            <th>Image</th>
            <th colspan="2">Action</th>
            {% for response in responses %}
                <tr>
                    <td>{{ response.label }}</td>
                    <td>{{ response.question.temperament.name }}</td>
                    <td>{{ response.question.temperament.temperament }} {{ -response.value }}</td>
                    <td>{{ response.question.temperament.opposedTemperament }} {{ response.value }}</td>
                    <td>
                        {% if response.image is not null %}
                            <img src="{{ asset(response.image.pathname) }}" alt="" width="{{ imageParam.width }}px" height="{{ imageParam.height }}px">
                        {% else %}
                            <p>Pas d'image</p>
                        {% endif %}
                    </td>
                    <td>
                        {# Modal modification #}
                        <button type="button" class="btn btn-primary"
                                data-type="update"
                                data-value="{{ response.value }}"
                                data-label="{{ response.label }}"
                                {% if response.image is not null %}
                                    data-image="{{ response.image.pathname }}"
                                {% endif %}
                                data-question="{{ response.question.id }}"
                                data-temperament="{{ response.question.temperament.id }}"
                                data-action="/admin/question/{{ response.question.id }}/putResponse/{{ response.id }}"
                                data-toggle="modal"
                                data-target="#modalResponse">
                            <i class="fa fa-edit"></i>
                            Modifier
                        </button>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                           data-toggle="modal"
                           data-target="#modalConfirmDeleteResponse"
                           data-name="{{ response.label }}"
                           data-action="/admin/question/{{ response.question.id }}/deleteResponse/{{ response.id }}">
                        <i class="fa fa-trash"></i>
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="modalConfirmDeleteResponse" class="modalConfirmDeleteResponse modal fade"
         tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a id="confirm" type="button" class="deleteResponseButton btn btn-danger">
                        <i class="fa fa-trash"></i>&nbsp;Oui
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}