{#Pour la page jobs#}
{% if jobs is defined %}
    <!-- Modal Job Button-->
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#modalJob">Ajouter un métier
    </button>
    <div class="panel-group" id="accordion">
        {% for job in jobs %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ job.id }}"
                           class="getJobPersonnalityView">
                            {{ job.name }}
                        </a>
                    </h4>
                </div>
                <div id="{{ job.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ job.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal Job ID-->
    <div id="modalJob" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal Critic content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajouter un métier</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formJob) }}
                    {{ form_widget(formJob) }}
                    {{ form_end(formJob) }}
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
{% endif %}


{#Pour la page Question#}
{% if questions is defined %}
    <!-- Modal Question Button-->
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#modalQuestion">Ajouter une question
    </button>
    <div class="panel-group" id="accordion">
        {% for question in questions %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ question.id }}" class="getResponsesFromQuestion">
                            {{ question.label }}
                        </a>
                    </h4>
                </div>
                <div id="{{ question.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="responseContent"></div>

                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalResponse{{ question.id }}">Ajouter une réponse
                        </button>

                        <!-- Modal Response ID-->
                        <div id="modalResponse{{ question.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal Question content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Ajouter une réponse</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ form_start(formResponse) }}
                                        {{ form_widget(formResponse.label) }}
                                        {{ form_widget(formResponse.value) }}
                                        {{ form_widget(formResponse.image) }}
                                        <select name="personnalityType">
                                            {% for personnalityType in personnalityTypes %}
                                                <option value="{{ personnalityType.id }}">{{ personnalityType.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {{ form_widget(formResponse.question, {"attr" : {"value" : question.id , 'class': 'form-control'}}) }}
                                        {{ form_widget(formResponse.save) }}
                                        {{ form_end(formResponse) }}
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal Question ID-->
    <div id="modalQuestion" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal Question content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajouter une question</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formQuestion) }}
                    {{ form_widget(formQuestion.label) }}
                    {{ form_widget(formQuestion.save) }}
                    {{ form_end(formQuestion) }}
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
{% endif %}