{#Pour la page jobs#}

{% if jobs is defined %}
    <!-- Modal Job Button-->
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#modalJob">Ajouter un métier
    </button>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for job in jobs %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title inline-block">
                        <a data-toggle="collapse" data-id="{{ job.id }}" data-parent="#accordion" href="#{{ job.id }}"
                           class="getJobPersonnalityView" id="collapseTitle{{ job.id }}" aria-expanded="true"
                           aria-controls="collapse{{ job.id }}">{{ job.name }}</a>
                    </h4>
                    <div class="pull-right inline-block">
                        <a class="btn btn-danger btn-sm deleteJob" data-id="{{ job.id }}"><i
                                    class="fa fa-trash fa-inverse fa-2x"></i></a>
                        <a type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                           data-target="#modifJob{{ job.id }}"><i class="fa fa-edit fa-inverse fa-2x"></i></a>
                    </div>
                </div>
                <div id="{{ job.id }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body" style="overflow: auto">
                        <div id="descriptionContent{{ job.id }}"></div>
                    </div>
                </div>
            </div>

            <!-- Modal modif Job ID-->
            <div id="modifJob{{ job.id }}" class="modal fade" role="dialog" style="display:none;">
                <div class="modal-dialog">
                    <!-- Modal ModifJob content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modifier un métier</h4>
                        </div>

                        <div class="modal-body">
                            <form method="post" class="form-group">
                                <label for="modifName{{ job.id }}">Nom du métier</label>
                                <input type="text" name="name" id="modifName{{ job.id }}" value="{{ job.name }}"
                                       class="form-control">

                                <label for="modifMinSalary{{ job.id }}">Salaire minimum</label>
                                <input type="number" name="minSalary" id="modifMinSalary{{ job.id }}"
                                       value="{{ job.minSalary }}" class="form-control">

                                <label for="modifMaxSalary{{ job.id }}">Salaire maximum</label>
                                <input type="number" name="maxSalary" id="modifMaxSalary{{ job.id }}"
                                       value="{{ job.maxSalary }}" class="form-control">

                                <label for="modifDescription{{ job.id }}">Description</label>
                                <textarea name="description" id="modifDescription{{ job.id }}" class="form-control">
                                                {{ job.description }}
                                </textarea>

                                <button class="btn btn-primary modifJob" data-id="{{ job.id }}">Modifier</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal modif Job ID-->
            <div id="modifJob{{ job.id }}" class="modal fade" role="dialog" style="display:none;">
                <div class="modal-dialog">
                    <!-- Modal ModifJob content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modifier un métier</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" class="form-group">
                                <label for="modifName{{ job.id }}">Nom du métier</label>
                                <input type="text" name="name" id="modifName{{ job.id }}" value="{{ job.name }}" class="form-control">

                                <label for="modifMinSalary{{ job.id }}">Salaire minimum</label>
                                <input type="number" name="minSalary" id="modifMinSalary{{ job.id }}" value="{{ job.minSalary }}" class="form-control">

                                <label for="modifMaxSalary{{ job.id }}">Salaire maximum</label>
                                <input type="number" name="maxSalary" id="modifMaxSalary{{ job.id }}" value="{{ job.maxSalary }}" class="form-control">

                                <label for="modifDescription{{ job.id }}">Description</label>
                                <textarea name="description" id="modifDescription{{ job.id }}" class="form-control">
                                                {{ job.description }}
                                            </textarea>

                                <button class="btn btn-primary modifJob" data-id="{{ job.id }}">Modifier</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal Job ID-->
    <div id="modalJob" class="modal fade" role="dialog" style="display:none;">
        <div class="modal-dialog">
            <!-- Modal Critic content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajouter un métier</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formJob) }}
                    {{ form_widget(formJob) }}
                    {{ form_end(formJob) }}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endif %}