{#Pour la page jobs#}

{% if jobs is defined %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <h2>Liste des métiers</h2>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary"
                            data-type="create"
                            data-toggle="modal"
                            data-target="#modalJob"><i class="fa fa-plus"></i> Ajouter un métier
                    </button>
                    <div id="responseMessageContent" class="row hidden">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                </button>
                                <p id="responseMessage"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for job in jobs %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title inline-block">
                                        <a data-toggle="collapse" data-id="{{ job.id }}" data-parent="#accordion"
                                           href="#{{ job.id }}"
                                           class="getJobPersonnalityView" id="collapseTitle{{ job.id }}"
                                           aria-expanded="true"
                                           aria-controls="collapse{{ job.id }}">{{ job.name }}</a>
                                    </h4>
                                    <div class="pull-right inline-block">
                                        <a class="btn btn-danger btn-sm" data-target="#modalDeleteJob"
                                           data-toggle="modal"
                                           data-action="/admin/job/{{ job.id }}/delete"
                                           data-name="{{ job.name }}"
                                           data-job="{{ job.id }}">
                                            <i class="fa fa-trash fa-inverse fa-2x"></i>
                                        </a>
                                        <a type="button" class="btn btn-primary btn-sm updateJob"
                                           data-job="{{ job.id }}"
                                           data-description="{{ job.description }}"
                                           data-min-salary="{{ job.minSalary }}"
                                           data-max-salary="{{ job.maxSalary }}"
                                           data-name="{{ job.name }}"
                                           data-action="/admin/job/{{ job.id }}/put"
                                           data-toggle="modal"
                                           data-target="#modalUpdateJob">
                                            <i class="fa fa-edit fa-inverse fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="{{ job.id }}" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body" style="overflow: auto">
                                        <div id="descriptionContent{{ job.id }}"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="modalDeleteJob" class="modalDeleteJob modal fade container" tabindex="-1" role="dialog">
                    <div class="modal-dialog-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p class="alert alert-danger"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <a id="confirm" type="button" class="btn btn-danger deleteJob"><i
                                            class="fa fa-trash"></i>&nbsp;Oui</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Job ID-->
                <div id="modalJob" class="modal fade container" role="dialog" style="display:none;">
                    <div class="modal-dialog-lg">
                        <!-- Modal Critic content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Ajouter un métier</h4>
                            </div>
                            {{ form_start(formJob, {
                                'method': 'POST',
                                'attr': {
                                    'class': 'formJob',
                                    'id': 'formJob',
                                }
                            }) }}
                            <div class="modal-body">

                                {{ form_row(formJob.name, {'id': 'nameInput' }) }}
                                {{ form_row(formJob.minSalary, {'id': 'minSalaryInput' }) }}
                                {{ form_row(formJob.maxSalary, {'id': 'maxSalaryInput' }) }}
                                {{ form_row(formJob.description, {'id': 'descriptionInput' }) }}
                                {{ form_row(formJob.image) }}
                                {{ form_row(formJob.save, {'id': 'submitInput','attr': {'class': 'btn btn-primary modifJob' }}) }}
                            </div>
                            <div class="modal-footer">
                            </div>
                            {{ form_end(formJob) }}
                        </div>
                    </div>
                </div>

                <div id="modalUpdateJob" class="modal fade container" role="dialog" style="display:none;">
                    <div class="modal-dialog-lg">
                        <!-- Modal Critic content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modifier un métier</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_start(formUpdateJob, {
                                    'method': 'POST',
                                    'attr': {
                                        'class': 'formUpdateJob',
                                        'id': 'formUpdateJob',
                                    }
                                }) }}
                                {{ form_row(formUpdateJob.name, {'id': 'nameUpdateInput' }) }}
                                {{ form_row(formUpdateJob.minSalary, {'id': 'minSalaryUpdateInput' }) }}
                                {{ form_row(formUpdateJob.maxSalary, {'id': 'maxSalaryUpdateInput' }) }}
                                {{ form_row(formUpdateJob.description, {'id': 'descriptionUpdateInput' }) }}
                                <div id='loadingmessage' style='display:none'>
                                    <img src='{{ asset('assets/img/ajax-loader.gif') }}'/>
                                </div>
                                {{ form_row(formUpdateJob.image) }}
                            </div>
                            <div class="modal-footer">
                                {{ form_row(formUpdateJob.save, {'id': 'submitUpdateInput','attr': {'class': 'btn btn-primary modifJob ' }}) }}
                            </div>
                            {{ form_end(formUpdateJob) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}