{#Pour la page Question#}
{% if questions is defined %}
    {#<!-- Modal Question Button-->#}
    <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#modalQuestion">Ajouter une question
    </button>
    <div class="panel-group" id="accordion">
        {% for question in questions %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-id="{{ question.id }}">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ question.id }}">
                            {{ question.label }}
                        </a>
                    </h4>
                </div>
                <div id="{{ question.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="responseContent{{ question.id }}"></div>

                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalResponse{{ question.id }}">Ajouter une réponse
                        </button>

                        <!-- Modal Response ID-->
                        <div id="modalResponse{{ question.id }}" class="modal fade" role="dialog"
                             style="display: none;">
                            <div class="modal-dialog">
                                <!-- Modal Question content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Ajouter une réponse</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ form_start(arrayFormResponse[question.label]) }}
                                        {{ form_row(arrayFormResponse[question.label].label) }}
                                        {{ form_row(arrayFormResponse[question.label].value) }}
                                        {{ form_row(arrayFormResponse[question.label].image) }}
                                        <select name="personnalityType">
                                            {% for personnalityType in personnalityTypes %}
                                                <option value="{{ personnalityType.id }}">{{ personnalityType.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {{ form_row(arrayFormResponse[question.label].question, {"attr" : {"value" : question.id , 'class': 'form-control'}}) }}
                                        {{ form_row(arrayFormResponse[question.label].save) }}
                                        {{ form_end(arrayFormResponse[question.label]) }}
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal Question ID-->
    <div id="modalQuestion" class="modal fade" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <!-- Modal Question content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajouter une question</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formQuestion) }}
                    {{ form_row(formQuestion.label) }}
                    {{ form_row(formQuestion.save) }}
                    {{ form_end(formQuestion) }}
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
{% endif %}