{#Pour la page Question#}

{% if questions is defined %}
    <div class="col-md-12">
        <h2>Liste des questions</h2>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-primary"
                data-type="create"
                data-toggle="modal"
                data-target="#modalQuestion"><i class="fa fa-plus"></i> Ajouter une question
        </button>
        <div id="responseMessageContent" class="row hidden">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-type="create">
                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                    </button>
                    <p id="responseMessage"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
    <hr>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            {% for question in questions %}
            <div class="panel-heading" role="tab" id="heading{{ question.id }}">
                <h4 class="panel-title inline-block" data-id="{{ question.id }}">
                    <a role="button" id="questionLabelDiv{{ question.id }}" data-toggle="collapse"
                       data-parent="#accordion"
                       href="#{{ question.id }}"
                       aria-expanded="true" aria-controls="collapse{{ question.id }}">
                        {{ question.label }}
                    </a>
                </h4>
                <div class="pull-right inline-block">
                    <a class="btn btn-danger btn-sm" data-toggle="modal"
                       data-target="#modalConfirmDeleteQuestion" data-id="{{ question.id }}"
                       data-name="{{ question.label }}">
                        <i class="fa fa-trash fa-inverse fa-2x"></i>
                    </a>
                    <button type="button" class="btn btn-primary btn-sm"
                            data-type="update"
                            data-id="{{ question.id }}"
                            data-label="{{ question.label }}"
                            data-temperament="{{ question.temperament.id }}"
                            data-action="/admin/question/put/{{ question.id }}"
                            data-toggle="modal"
                            data-target="#modalQuestion">
                        <i class="fa fa-edit fa-inverse fa-2x"></i>
                    </button>
                </div>
            </div>

            <div id="{{ question.id }}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading{{ question.id }}">
                <div class="panel-body">
                    <div class="responseContent{{ question.id }}"></div>
                    <button type="button" class="btn btn-primary"
                            data-type="create"
                            data-question="{{ question.id }}"
                            data-action="/admin/question/{{ question.id }}/postResponse"
                            data-temperament="{{ question.temperament.id }}"
                            data-toggle="modal"
                            data-target="#modalResponse">Ajouter une réponse
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal Delete Question -->
    <div id="modalConfirmDeleteQuestion" class="modalConfirmDeleteQuestion modal fade"
         tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a id="confirm" type="button" class="btn btn-danger deleteQuestion"><i
                                class="fa fa-trash"></i>&nbsp;Oui</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Response -->
    <div id="modalResponse" class="modal fade" role="dialog"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajouter une réponse</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formResponse, {
                        'attr': {
                            'id': 'formResponse' }
                    }) }}
                    {{ form_row(formResponse.label, { 'id': "labelResponse" }) }}
                    <p class="control-label" style="font-weight: bold">Valeur</p>
                    <div>
                        <p id="temperamentResponse" class="pull-left">Temperament</p>
                        <p id="opposedTemperamentResponse" class="pull-right">Temperament opposé</p>
                    </div>
                    <br>
                    <div>
                        <p id="valueTempResponse" class="pull-left">LEFT</p>
                        <p id="valueOpposedTempResponse" class="pull-right">RIGHT</p>
                    </div>
                    {{ form_row(formResponse.value, {
                        'label': false,
                        'id': "valueResponse",
                    }) }}
                    <p class="control-label" style="font-weight: bold">Image</p>
                    <div id='loadingmessage' style='display:none'>
                        <img src='{{ asset('assets/img/ajax-loader.gif') }}'/>
                    </div>
                    {{ form_row(formResponse.image, {"label": false, 'id': "imageResponse"}) }}
                    {{ form_row(formResponse.question, {'id': "idQuestionResponse"}) }}
                </div>
                <div class="modal-footer">
                    {{ form_row(formResponse.save, {'attr': {'class': "btn btn-primary form-control submitResponse"}}) }}
                    {{ form_end(formResponse) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Question ID-->
    <div id="modalQuestion" class="modal fade" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <!-- Modal Question content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalTitleQuestion">Ajouter une question</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formQuestion, {'attr': {'id': "formQuestion", 'action': "" }}) }}
                    {{ form_row(formQuestion.label) }}
                    <select name="temperament" class="form-control"
                            id="selectTemperamentQuestion">
                        {% for temperament in temperaments %}
                            <option value="{{ temperament.id }}">{{ temperament.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <p id="temperamentQuestion" class="pull-left">TestGauche</p>
                    <p id="opposedTemperamentQuestion" class="pull-right">TestDroite</p>
                    {{ form_row(formQuestion.temperament, {'id': "tempQuestion" }) }}
                    <br>
                </div>
                <div class="modal-footer">
                    {{ form_row(formQuestion.save) }}
                    {{ form_end(formQuestion) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}