<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone hidden"><i class="icon icon-tasks"></i> Menu</a>

    <ul>
        <li class="{% if app.request.requestUri ==  path('admin_homepage')  %}
                    active
                    {% endif %}"
        >
            <a href="{{ path('admin_homepage') }}">
                <i class="icon icon-home"></i>
                <span>Accueil</span>
            </a>
        </li>
        <li class="{% if app.request.requestUri == path('admin_job_home') or
        app.request.requestUri == path('admin_temperament_show') or
        app.request.requestUri == path('admin_question') %}open {% endif %}submenu"
        >
            <a href="#">
                <i class="icon icon-tasks"></i>
                <span>Gestion du site</span>
                <i class="icon-caret-down"></i>
            </a>
            <ul class="nav-group">
                <li class="{% if app.request.requestUri == path('admin_job_home') %}
                    active
                    {% endif %}"
                >
                    <a href="{{ path('admin_job_home') }}">
                        <i class="icon icon-book"></i>
                        <span>Gestion des métiers</span>
                    </a>
                </li>
                <li class="{% if app.request.requestUri == path('admin_temperament_show') %}
                    active
                    {% endif %}"
                >
                    <a href="{{ path('admin_temperament_show') }}">
                        <i class="icon-plus-sign-alt"></i>
                        <span>Gestion des tempéraments</span>
                    </a>
                </li>
                <li class="{% if app.request.requestUri == path('admin_question') %}
                    active
                    {% endif %}"
                >
                    <a href="{{ path('admin_question') }}">
                        <i class="icon icon-comment"></i>
                        <span>Gestion des questions</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="{% if app.request.requestUri == path('admin_parameter') or
        app.request.requestUri == path('admin_user') or
        app.request.requestUri == path('admin_mentionLegale') %}open {% endif %}submenu"
        >
            <a href="#">
                <i class="icon icon-cog"></i>
                <span>Paramétrage</span>
                <i class="icon-caret-down"></i>
            </a>
            <ul class="nav-group">
                <li class="{% if app.request.requestUri == path('admin_parameter') %}
                    active
                    {% endif %}"
                >
                    <a href="{{ path('admin_parameter') }}">
                        <i class="icon icon-cogs"></i>
                        <span>Gestion du site</span>
                    </a>
                </li>
                <li class="{% if app.request.requestUri == path('admin_user') %}
                    active
                    {% endif %}"
                >
                    <a href="{{ path('admin_user') }}">
                        <i class="icon icon-group"></i>
                        <span>Gestion des utilisateurs</span>
                    </a>
                </li>
                <li class="{% if app.request.requestUri == path('admin_mentionLegale') %}
                    active
                    {% endif %}"
                >
                    <a href="{{ path('admin_mentionLegale') }}">
                        <i class="icon icon-suitcase"></i>
                        <span>Mentions Légales</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!--sidebar-menu-->