{% extends "HomeBundle::base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block header %}
    {% include 'HomeBundle:layout:header.html.twig' %}
{% endblock %}

{% block content %}
    {% block _HomeBundle %}
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Test de personnalité </h1>
                    <div class="col-md-6 col-md-offset-3">
                        <p>
                            Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris
                            incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de
                            industria milites agentes in civitatibus perviis.
                            Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris
                            incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de
                            industria milites agentes in civitatibus perviis.
                        </p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <div class="col-md-4 col-sm-4">
                        <div class="thumbnail">
                            <div class="thumbHome">
                                <img class="img-responsive imgHome" src="{{ asset('assets/img/imageHome/rapide.png') }}" alt="">
                                <h3 class="subtitleHome">Rapide</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="thumbnail">
                            <div class="thumbHome">
                                <img class="img-responsive imgHome" src="{{ asset('assets/img/imageHome/instructif.png') }}" alt="">
                                <h3 class="subtitleHome">Instructif</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="thumbnail">
                            <div class="thumbHome">
                                <img class="img-responsive imgHome" src="{{ asset('assets/img/imageHome/ludique.png') }}" alt="">
                                <h3 class="subtitleHome">Ludique</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center">
                <a class=" btn btn-danger btn-lg doTest" href="{{ path('home_quizz') }}">
                    Faire le test !
                </a>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ render(controller('HomeBundle:Home:renderFooter')) }}
{% endblock %}
