{% extends 'HomeBundle::base.html.twig' %}

{% block title %} Résultat {% endblock %}

{% block header %}
    {% include 'HomeBundle:layout:header.html.twig' %}
{% endblock %}

{% block content %}
    {% block _HomeBundle %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if bool != 0 %}
                        <div class="row">
                            <div class="col-md-7">
                                <img src="{{ asset('assets/img/persoResponse/perso_pose1.png') }}" alt="" width="250px"
                                     height="280px">
                                <h2>Tu es {{ job.name }} !</h2>
                                <div class="fb-share-button"
                                     data-href="https://quizzImie.com/metier"
                                     data-layout="button"
                                     data-size="large"
                                     data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore btn btn-danger"
                                       target="_blank"
                                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Partager
                                        <!-- Mettre adresse du site ci-dessus après avoir exporté le site en prod -->
                                        <!-- Il nous faut créer un compte facebook et le lier à un compte facebook developer via https://developers.facebook.com/docs/plugins
                                        afin de récupérer un lien de type https://www.monsite.com/sharer/etc -->
                                        <!-- Il faudra ensuite configurer l'url pour qu'elle pointe sur le bon lien -->
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                {% if job.image is not null %}
                                    <a href="#" class="thumbnail">
                                        <img style="margin-top: 30px" class="imgJob image-responsive"
                                             src="{{ asset(job.image.pathname) }}" alt="...">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ job.description|raw }}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ job.name }}</h2>
                            </div>
                            <div class="col-md-12">
                                {% if job.image is not null %}
                                    <a href="#" class="thumbnail">
                                        <img style="margin-top: 30px" class="imgJob image-responsive"
                                             src="{{ asset(job.image.pathname) }}" alt="...">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ job.description|raw }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-4">
                    <h3>Le tempérament du métier</h3>
                    <p>Métier : {{ job.name }}</p>
                    <canvas id="myChart" width="500" height="300">

                    </canvas>
                    <div class="row">
                        <div class="col-md-12">
                            {# jobs #}
                            <h3>Le salaire</h3>
                            <table class="table table-condensed text-center">
                                <tr>
                                    <td>Salaire minimum</td>
                                    <td>Salaire maximum</td>
                                </tr>
                                <tr>
                                    <td>{{ job.minSalary }}€</td>
                                    <td>{{ job.maxSalary }}€</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        {# img job #}
                        {% if job.image is not null %}
                            <a href="#" class="thumbnail">
                                <img class="imgJob image-responsive" src="{{ asset(job.image.pathname) }}" alt="...">
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% for jobPersonnality in jobPersonnalities %}
            {% if jobPersonnality.value < 0 %}
                <input type="hidden" class="dataHolder" value="{{ jobPersonnality.value }}"
                       data-type="{{ jobPersonnality.temperament.temperament }}">
            {% else %}
                <input type="hidden" class="dataHolder" value="{{ jobPersonnality.value }}"
                       data-type="{{ jobPersonnality.temperament.opposedTemperament }}">
            {% endif %}
        {% endfor %}

    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home/chartResult.js') }}"></script>
    <script src="{{ asset('assets/js/home/sdkFacebook.js') }}"></script>
{% endblock %}

{% block footer %}
    {{ render(controller('HomeBundle:Home:renderFooter')) }}
{% endblock %}