{% extends 'HomeBundle::base.html.twig' %}

{% block title %} Je suis {{ job.name }} {% endblock %}

{% block head %}
    {{ parent() }}
    {# Plugin facebook #}
    <meta property="og:url" content="{{ path('home_metier', {jobId: job.id} ) }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Geek Njob"/>
    <meta property="og:description" content="Mon résultat est : {{ job.name }} ! Faites le test !"/>
    <meta property="og:image" content="{{ asset('assets/img/') }}"/>
{% endblock %}

{% block header %}
    {% include 'HomeBundle:layout:header.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/questionHome.css') }}"/>
{% endblock stylesheets %}

{% block content %}
    {% block _HomeBundle %}
        <div class="container content">
            <div class="row">
                <div class="col-md-8">
                    {% if quizzResult[0] is defined %}
                        <div class="row">
                            <div class="col-md-8">
                                {% if primary is not null and primary.value is not null %}
                                    <div class="question pull-right" style="
                                            margin-top: 70px;
                                            border: solid {{ primary.value }};
                                            -webkit-filter: drop-shadow(5px 4px 0 {{ primary.value }});
                                            filter: drop-shadow(5px 4px 0 {{ primary.value }});">
                                        <h3>Tu es {{ job.name }} à {{ quizzResult[0].percentage }}% !</h3>
                                    </div>
                                {% else %}
                                    <div class="question pull-right" style="
                                border: solid #ea3d4f;
                                -webkit-filter: drop-shadow(5px 4px 0 #ea3d4f);
                                filter: drop-shadow(5px 4px 0 #ea3d4f);">
                                        <h3>Tu es {{ job.name }} à {{ quizzResult[0].percentage }}% !</h3>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <img src="{{ asset('assets/img/persoResponse/perso_pose1Bis.png') }}" alt=""
                                     width="250px"
                                     height="280px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div id="utils-icon-share-twitter">
                                    <a href="javascript:void(0);" onclick="Javascript:window.open('https://twitter.com/intent/tweet?&url='+document.URL,'_blank');" title="Twitter">
                                        <i class="fa fa-twitter-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div id="utils-icon-share-fb">
                                    <a
                                            href="javascript:void(0);"
                                            onclick="Javascript:window.open('https://facebook.com/sharer/sharer.php?u='+document.URL,'_blank');"
                                            title="Facebook">
                                        <i class="fa fa-facebook-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div id="utils-icon-share-linkedin">
                                    <a
                                            title="Linkedin"
                                            href= "javascript:void(0);"
                                            onclick="Javascript:window.open('https://www.linkedin.com/cws/share?url=geek.njob.fr%2Fquizz&original_referer='+this.href, '');return false;">
                                        <i class="fa fa-linkedin-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {#<div class="row">#}
                            {#<div class="col-md-2">#}
                                {#<div    id="fb-root"#}
                                        {#class="fb-share-button"#}
                                        {#data-href="{{ path('home_metier', {jobId: job.id} ) }}"#}
                                        {#data-layout="button"#}
                                        {#data-size="small"#}
                                        {#data-mobile-iframe="true">#}
                                    {#<a#}
                                            {#data-href="{{ path('home_setShared') }}"#}
                                            {#id="sharedBtn"#}
                                            {#class="fb-xfbml-parse-ignore btn btn-primary"#}
                                            {#target="_blank"#}
                                            {#href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fgeek.njob.fr%2Fmetier%2F{{jobId: job.id}}&amp;src=sdkpreparse">#}
                                            {#<i class="fa fa-facebook-square"></i>#}
                                        {#Partager#}
                                    {#</a>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-2">#}
                                {#<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>#}
                                {#<script type="IN/Share" data-url="geek.njob.fr/quizz"></script>#}
                            {#</div>#}
                        {#</div>#}

                        <div class="row">
                            <div class="col-md-12">
                                {{ job.description|raw }}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ job.name }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ job.description|raw }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            {% if job.image is not null %}
                                <a href="#" class="thumbnail text-center">
                                    <img style="margin-top: 30px" class="imgJob image-responsive"
                                         src="{{ asset(job.image.pathname) }}" alt="...">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Le tempérament du métier</h3>
                            <p>Métier : {{ job.name }}</p>
                            <canvas id="myChart" width="500" height="300"></canvas>
                        </div>
                        {% if sessionQuizzResult is defined and sessionQuizzResult is not null %}
                            <div class="col-md-12">
                                <h3>Vos résultats</h3>
                                <canvas id="userChart" width="500" height="300"></canvas>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {# jobs #}
                            <h3>Le salaire brut mensuel</h3>
                            <table class="table table-condensed text-center">
                                <tr>
                                    <td>Minimum</td>
                                    <td>Maximum</td>
                                </tr>
                                <tr>
                                    <td>{{ job.minSalary }}€</td>
                                    <td>{{ job.maxSalary }}€</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if quizzResult is defined and quizzResult|length == 3 %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Vous êtes également compatible avec les métiers suivants :</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                {% for result in quizzResult|slice(1, 2) %}
                                    <a href="{{ path('home_metier', { jobId: result.jobId }) }}">
                                        <div class="thumbnail">
                                            {% if (primary is not null and text is not null ) and (primary.value is not null and text.value is not null) %}
                                                <div style="border-color: {{ primary.value }}" class="thumbProp">
                                                    <img class="img-responsive imgProp"
                                                         src="{{ asset("/assets/img/imageJob/" ~ result.imageName) }}"
                                                         alt="">
                                                    <div class="percentage" style="color: {{ text.value }}">
                                                        <span class="poucentageSpan">{{ result.percentage }}%</span>
                                                    </div>
                                                </div>
                                                <h3 style="background-color: {{ primary.value }}; color: {{ text.value }}"
                                                    class="subtitleProp">{{ result.jobName }}

                                                </h3>
                                            {% else %}
                                                <div style="border-color: #ea3d4f" class="thumbProp">
                                                    <img class="img-responsive imgProp"
                                                         src="{{ asset("/assets/img/imageJob/" ~ result.imageName) }}"
                                                         alt="">
                                                    <div class="percentage" style="color: #ffffff">
                                                        <span class="poucentageSpan">{{ result.percentage }}%</span>
                                                    </div>
                                                </div>
                                                <h3 style="background-color: #ea3d4f; color: #ffffff"
                                                    class="subtitleProp">
                                                    <a href="{{ path('home_metier', { jobId: result.jobId }) }}">{{ result.jobName }}</a>
                                                </h3>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% for jobPersonnality in jobPersonnalities %}
            {% if jobPersonnality.value < 0 %}
                <input type="hidden" class="dataHolder" value="{{ jobPersonnality.value }}"
                       data-type="{{ jobPersonnality.temperament.temperament }}">
            {% else %}
                <input type="hidden" class="dataHolder" value="{{ jobPersonnality.value }}"
                       data-type="{{ jobPersonnality.temperament.opposedTemperament }}">
            {% endif %}
        {% endfor %}

        {% if sessionQuizzResult is defined and sessionQuizzResult is not null %}
            <input type="hidden" name="sessionQuizzResult" id="sessionQuizzResult"
                   value="{{ sessionQuizzResult|e('html') }}">
        {% endif %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home/metierProcess.js') }}"></script>
    <script src="{{ asset('assets/js/home/sdkFacebook.js') }}"></script>
{% endblock %}

{% block footer %}
    {{ render(controller('HomeBundle:Home:renderFooter')) }}
{% endblock %}