{% extends 'HomeBundle::base.html.twig' %}

{% block title %} Premier questionnaire {% endblock %}

{% block header %}
    <div class="container-fluid">
        <div class="col-md-12 col-md-1"></div>
    <a class="btn btn-default" href="{{ path('home_homepage') }}">
        <i class="fa fa-home"></i>
        <p>Retour à l'accueil</p>
    </a>
    </div>
{% endblock %}

{% block content %}
    {% block _HomeBundle %}
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Quel genre de super héros êtes-vous ?</h1>
                </div>
                <hr />
                <form class="">
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('assets/img/THUMB__t5j5.jpg') }}" alt="...">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('assets/img/THUMB__h13g.jpg') }}" alt="...">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('assets/img/THUMB__cosi.jpg') }}" alt="...">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('assets/img/THUMB__t5j5.jpg') }}" alt="...">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('assets/img/THUMB__h13g.jpg') }}" alt="...">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('assets/img/THUMB__cosi.jpg') }}" alt="...">
                        </a>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary btn-lg" href="{{ path('home_question2') }}">Suivant</a>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}


