{% extends 'HomeBundle::base.html.twig' %}

{% block title %} Quizz {% endblock %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home/modernizr.custom.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/questionHome.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/PageTransitionnerComponent.css') }}">
{% endblock stylesheets %}

{% block header %}

{% endblock %}

{% block content %}
    <div id="my-body">
        {% block _HomeBundle %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <a class="btn btn-default btn-lg pull-left icoHome" href="{{ path('home_homepage') }}">
                            <img class="imgQuizz" src="{{ asset('assets/img/imageHome/maison.png') }}">
                        </a>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        {% if primary is not null and primary.value is not null %}
                            <div class="question pull-right" style="
                                    border: solid {{ primary.value }};
                                    -webkit-filter: drop-shadow(5px 4px 0 {{ primary.value }});
                                    filter: drop-shadow(5px 4px 0 {{ primary.value }});">
                                <h3 id="questionLabel" class="text-center"></h3>
                            </div>
                        {% else %}
                            <div class="question pull-right" style="
                                    border: solid #ea3d4f;
                                    -webkit-filter: drop-shadow(5px 4px 0 #ea3d4f);
                                    filter: drop-shadow(5px 4px 0 #ea3d4f);">
                                <h3 id="questionLabel" class="text-center"></h3>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img id="perso" src="" alt="" width="200" height="230">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 prog">
                        <div class="progress">
                            {% if primary is not null and primary.value is not null %}
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 10%; background: {{ primary.value }}">
                                </div>
                            {% else %}
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 10%; background: #ea3d4f">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="responseContainer" class="row"></div>
                </div>
                <div class="row">
                        <div
                            id="g-recaptcha"
                            class="g-recaptcha">
                        </div>
                </div>
                {% if imageParam is not null and imageParam.width is not null and imageParam.height is not null %}
                    <input type="hidden" id="widthInput" value="{{ imageParam.width }}">
                    <input type="hidden" id="heightInput" value="{{ imageParam.height }}">
                {% else %}
                    <input type="hidden" id="widthInput" value="250">
                    <input type="hidden" id="heightInput" value="250">
                {% endif %}
                <input type="hidden" id="hrefInput" value="{{ path('home_quizz_resolution') }}">
            </div>
        {% endblock %}
    </div>

    <div id="modalLoading" class="modal fade container" tabindex="-1" role="dialog" style="margin-top: 10%">
        <div class="modal-dialog-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Chargement en cours...</h3>
                </div>
                <div class="modal-body" style="height: 60%">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">
                                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <h4>...veuillez patienter</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home/pageTransitions.js') }}"></script>
    <script src="{{ asset('assets/js/home/QuizzProcess.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
    <script src="{{ asset('assets/js/home/questionScroll.js') }}"></script>
{% endblock %}

{% block footer %}

{% endblock %}


